/***********
 * TOP LEVEL
 ***********/
body {
  margin: 0;
}

.resume {
  width: 68vw;
  margin: 0 auto 0 auto;
  max-width: 1063px;
}

/********
 * HEADER
 ********/
.header {
  background-color: #D6D4D3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em 3em 1em 3em;
}

.header h1 {
  font-size: 3em;
  align-items: end;
  margin: 0;
  display: inline;
}

.header .contact-info {
  display: flex;
  justify-content: flex-end;
}

.header .contact-info table {
  width: auto;
}

.header .contact-detail {
  display: grid;
  grid-template-columns: min-content max-content;
  font-size: 1.15em;
}

.header img {
  height: 70%;
  width: auto;
  margin: 0 .15em 0 0;
}

/***************************
 * SECTION, LIST ITEM BASICS
 ***************************/
.section {
  padding: 0 3em 0 3em;
}

.section > [class*="-list"] {
  border-left: 2px solid;
  list-style-type: none;
  margin: 0 0 0 1em;
  padding: 0 0 0 0;
}

.section [class*="-item"] {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 0 1.5em .5em;
}

/********************
 * EXPERIENCE SECTION
 ********************/
.experience-detail td {
  padding: 0 0 .5em 0;
}

.experience-detail .title {
  font-weight: bold;
}

.experience-detail .organization > td,
                   .dates > td {
  padding-left: .5em;
}

.experience-highlights > ul {
  list-style-type: disc;
  padding: 0 0 0 1em;
}

.experience-highlights li {
  margin: 0 0 .5em 0;
}

/****************
 * SKILLS SECTION
 ****************/
.skills-item .skill-area {
  font-weight: bold;
}

/*******************
 * EDUCATION SECTION
 *******************/
.education-item .organization {
  font-weight: bold;
}

.education-item .dates {
  padding: .5em 0 0 .5em;
}

.education-item span:nth-child(2) {
  display: grid;
  grid-template-columns: 4fr 5fr;
}
