body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.index {
  width: 26em;
}

h1 {
  font-size: 2em;
}

.welcome {
  display: flex;
  align-items: center;
}

.welcome h1 {
  margin: 1.25em 0 .75em 0;
}

.welcome img {
  height: 95%;
  max-height: 3em;
  width: auto;
  margin: 0 0 0 .75em;
}

.icon-link-row td:nth-child(2) {
  padding: 0 0 0 .75em;
}

@media only screen and (max-device-width: 430px) {
  .index {
    width: 22em;
  }
}

@media only screen and (max-device-width: 360px) {
  .index {
    width: 20em;
  }
}

@media only screen and (max-device-width: 320px) {
  .index {
    width: 18em;
  }
}
