
.container-instagram {
  margin-top: $spacer;
}

.list-row {
  padding: 20px 0 0 0;
}

.h-inline {
  display: inline-block;
}

.link-group {
  a {
    color: #2a2a2a;
  }
}

.img-fill {
  max-width: 100%;
}

.light-shadow {
  box-shadow: 0 0 5px #888;
}

