<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
            I'm a Full Stack Developer with a passion for clean, functional code. To date, I've built many back-ends with Ruby on Rails and front-ends with AngularJs.
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
            When I'm not coding, you can find me playing tabletop games with friends, exploring the outdoors, or watching a film.
            </p>
        </div>
    </div>
</section>
