<section class="container container-about">
  <div class="row">
    <div class="col-sm-12">

      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h1>About</h1>
          <p>
          I'm a Full Stack Developer who emphasizes producing quality code.
          </p>
          <p>
          When I'm not coding, I'm playing tabletop games with friends, exploring the outdoors, or watching a movie.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-12 row-top">
          <h1>Tech</h1>
          <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-2 row-top">
              <img src="./web-dist/images/ruby_on_rails.png" class="img-thumb">
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 row-top">
              <img src="./web-dist/images/angularjs.png" class="img-thumb">
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <img src="./web-dist/images/javascript.png" class="img-thumb">
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <img src="./web-dist/images/git.jpg" class="img-thumb">
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 row-top">
              <img src="./web-dist/images/vim-logo.png" class="img-thumb">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
