<footer class="container-fluid container-contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Let's Connect</h1>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="mailto:{{ site.email }}">
                    {{ site.email }}
                </a>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a href="tel:{{ site.phone }}">
                    {{ site.phone }}
                </a>
            </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-12 container-contacts-phone">
            <i class="fa fa-github" aria-hidden="true"></i>
            <a target="_blank" href="https://github.com/anthonyfuentes">
              anthonyfuentes
            </a>
          </div>
          <div class="col-md-6 col-sm-12 container-contacts-phone">
            <i class="fa fa-medium" aria-hidden="true"></i>
            <a target="_blank" href="https://medium.com/@anthonyfuentes">
              @anthonyfuentes
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-12 container-contacts-phone">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
            <a target="_blank" href="https://www.linkedin.com/in/anthonycfuentes">
              {{ site.brand }}
            </a>
          </div>
        </div>

    </div>
</footer>
