<section class="container container-instagram">
  <div class="row">
    <div class="col-md-12">
      <h1>Portfolio</h1>
    </div>
    <div class="col-md-12">

      <div class="row list-row">
        <div class="col-md-5 row-top">
          <img src="./web-dist/images/oslp.png" class="img-fill light-shadow" alt="screenshot open source learning project">
        </div>
        <div class="col-md-7">
          <div>
            <h4 class="h-inline">Open Source Learning Project</h4>
          </div>
          <p>
          The Open Source Learning Project is an app where users can find online resources for learning about any topic.
          </p>
          <span class="link-group">
            <a target="_blank" href="https://github.com/anthonyfuentes/open_source_learning_project">
              <i class="fa fa-2x fa-github" aria-hidden="true"></i>
              Checkout the GitHub repo
            </a>
          </span>
        </div>
      </div>

      <div class="row list-row">
        <div class="col-md-5 row-top">
          <img src="./web-dist/images/social-connection.png" class="img-fill light-shadow" alt="screenshot social connection">
        </div>
        <div class="col-md-7">
          <div>
            <h4 class="h-inline">Social Connection</h4>
          </div>
          <p>Social Connection is a fully-functional social network built with Ruby on Rails.</p>
          <span class="link-group">
            <a target="_blank" href="https://github.com/anthonyfuentes/project_danebook">
              <i class="fa fa-2x fa-github" aria-hidden="true"></i>
              Checkout the GitHub repo
            </a>
          </span>
        </div>
      </div>

    </div>
  </div>
</section>
