<section class="container container-instagram">
  <div class="row">
    <div class="col-md-12">
      <h1>Portfolio</h1>
    </div>
    <div class="col-md-12">

      <div class="row list-row">
        <div class="col-md-5">
          <img src="./web-dist/images/oslp.png" class="img-fill light-shadow" alt="screenshot open source learning project">
        </div>
        <div class="col-md-7">
          <div>
            <h4>Open Source Learning Project</h4>
          </div>
          <p>The Open Source Learning Project is an app where users can find online resources for learning about any topic.</p>
        </div>
      </div>

    </div>
  </div>
</section>
